.header{
    text-align: center;
}
.bgbox{
    /* border: 1px solid black;
    margin: auto;
    height: 400px; */
    display: grid;
}
.img{
    height: 300px;
}
 .text{
    margin: auto;
}
/*
.bgboximg{
      width: 400px;
      height: 400px;
      margin: auto;
}
.bgbox2{
    border: 1px solid black;
    margin: 10px;
    height: 700px;
    width: 1200px;
    display: flex;
}
.guestbox{
    border: 1px solid black;
    height: 400px;
    width: 1200px;
    margin: auto;
} */