@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:wght@300&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
 /* navigation bar details */
nav{
    height: 80px;
    background-color: #fff;
    width: 100%;
    display: flex;
    transition: 0.2s;
    position: sticky;
    position: fixed;
    justify-content: space-between;
    padding: 0px 7% 0px 3%;
    border: 10px solid #fff;
    box-shadow: 0 0 10px rgba(0,0, 0, 0.2);
    z-index: 10;
}
nav .logo{
    font-size: 33px;
   padding: 8px 10px;
}
.nav_ul{
    display: flex;
    list-style: none; 
    width: 800px;
}
nav ul li{
    margin: 10px 10px;
}
nav ul li a{
    color: #475056;
    text-decoration: none;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 18px;
    letter-spacing: 1px;
    padding: 10px ;
}
.menu-btn{
    width: 50px;
    height: 50px;
    color: grey;
    cursor: pointer;
    display: none;
}
#click{
     display: none;
}
#login_nav_btn{
    border: 1px solid gray;
    border-radius: 6px;
    padding-left: 14px;
    padding-right: 14px;
}
.sign_up_btn{
    background-color: #4ea819;
    border-radius: 6px;   
}
ul > li > a:hover {
    color: rgb(57, 109, 4);
    text-decoration: underline;
}
/* time track free trail detalis */
.video_front_page{
    width: 500px;
    height: 315px;
    border: 0px;
}
#time_tracking_free_trail_box{
    width: 100%;
    height: 500px;
    font-family: 'Source Sans Pro';
}
.email_for_free_trail{
    float: left;
    width: 60%;
    height: 100%;
    padding-top: 120px;
    margin: auto;
}
.img_tracking_detalis{
    float: left;
    width: 40%;
    height: 100%;
    padding-top: 150px;
    margin: auto;
}
.img-tracking{
    width: 85%;
    height: 75%;
}
.automatic_text{
    width: 60%;
    margin: auto;
    font-family: 'Source Sans Pro', sans-serif;
    height: 39%;
   font-size: 42px;
   padding:  0 0 16px;
   color: #333c43;
   margin-bottom: 0px;
}
.mobile_app_tracking_text{
    width: 60%;
    margin: 2% auto;
    font-family: 'Source Sans Pro', sans-serif;
    height: 16%;
    font-size: 20px;
    color: #333c43;
    padding: 0 0 20px;
}
.put_email_trail{
    width: 80%;
     height: 16%;
    margin-left: 20%;
}
#email{
    width: 40%;
    height: 70%;
    font-size: 20px;
    border: 1px solid gray;
    float: left;
}
.email_sumbit_btn{
    float: left;
    margin-left: 20px;
    border-radius: 10px;
    width: 38%;
    height: 70%;
    background-color: #4ea819;
    text-align: center;
    color: white;
    font-size: 20px;
    padding-top: 10px;
}
.days_14_text{
    margin-top: 0.6%;
    margin-left: 20%;
    color: #70777b;
    font-size: 18px;

}
.text-align-center{
    text-align: center;
}
/* details features box */
#detalis_featues{
    font-family: 'Source Sans Pro', sans-serif;
    width: 100%;
    height: 320px;
    background-color: #4EA819;
}
.featur_box {
    width: 29%;
    margin-left: 9%;
    margin-top: 5%;
    height: 80%;
    float: left;
    color: #ffffff;
}
.featur_box2 {
    width: 29%;
    margin-left: 1%;
    margin-top: 5%;
    height: 80%;
    float: left;
    color: #ffffff;
}

#rigth_btn{
    font-size: 16px;
    color: aliceblue;
    padding-top: 5%;
    padding-left: 2%;
}
.font_size_boost{
    font-size: 26px;
}

 /*  Top features slide window of desk time features */
#Top_features_box{
    width: 100%;
    height: 660px;
    font-family: 'Source Sans Pro', sans-serif;
}
.be_control_text{
    width: 50%;
    padding: 0px 5%;
     margin: auto;
}
.top_features_btn{
    width: 60%;
    height: 10%;
    background-color:#ebecec ;
    margin:  2% auto;
    border: 1px solid #ebecec;
    border-radius: 5px;
}
.dot{
    width: 19.5%;
    font-size: 20px;
    background-color: #ebecec;
    color: #333c43;
    border: 0px ;
    height: 100%;
    cursor: pointer;
}
.slideshow-container{
    width: 75%;
    margin: 2.8% auto;
    height: 50%;
    position: relative;
}
.slide_left_box{
    width: 50%;
    height: 100%;
    float: left;
    margin-top: 40px;
}
.slide_rigth_box{
    width: 50%;
    height: 100%;
    float: left;
}
.teams_text{
    margin-bottom: 20px;
    font-size: 36px;
    color: #333c43;
}
.font_col{
    font-size: 20px;
    color: #333c43;
}
.img_of_slideshow1{
    width: 500px;
    height: 300px;
    margin-top: 0px;
    margin-bottom: 0px;
}
.active {
   background-color: #4EA819;
   }
   /* high professional team choice by desk time CSS */
#team_box_detalis{
    width: 100%;
    height: 450px;
    background-color: #4EA819;
    font-family: 'Source Sans Pro', sans-serif;
}
.team_box_detalis{
    color: white;
}
.high-performing_text{
    padding-top: 40px;
    padding-bottom: 10px;
    font-size: 42px;
}
.img_box_team{
    width: 80%;
    margin-left: 15%;
}
.img_line{
    width: 2px;
    height: 100px;
    margin-right: 2%;
    margin-left: 1%;
    color: white;
    border: 1px solid #fff;
}
.white_border_img_line{
    margin-left: 4%;
    border: 1px solid #fff;
}
.img_capture{
    width: 239px;
    height: 90px;
    margin-left: 15%;
    margin-right: 4.5%;
}
.img_rating{
    width: 239px;
    height: 90px;
    padding: 0px 16px;
}
.img_assets{
    width: 160px;
    height: 100px;
    padding: 0px 16px;
}
.img_rating2{
    width: 239px;
    height: 90px;
    padding: 0px 16px;
}


 /* traking and monitoring image  */
#monitoring_box{
    width: 100%;
    height: 1800px;  
    font-family: 'Source Sans Pro', sans-serif;  
}
.tracking_heading_text{
    width: 55%;
    height: 6%;
    margin: 3% auto;
    font-size: 42px;
    color: #333c43;
    text-align: center;
}
.monitor_daily_text{
    width: 40%;
    margin: auto;
    font-size: 20px;
    text-align: center;
    margin-top: 0px;
    color: #333c43;
    height: 3%; 
}
.features_box_detalis{
      width: 87%;
      height: 86%;
      margin: 2% auto; 
}
.features_box1{
    width: 30%;
    height: 32.5%;
    margin-bottom: 2%;
    margin-left: 2%;
    margin-right: 1%;
    box-shadow: 0 0 0.12px gray;
    background-color: #f5f5f6;
    float: left;
}
.img_time_tracking{
    width: 350px;
    height: 280px;
    padding: 4% 10%;
    margin: auto;
}
.auto_text {
    width: 100%;
    height: 40px;
    font-size: 26px;
    margin: auto;
    color: #333c43;
    text-align: center;
}
.fully_automatic_box{
    width: 80%;
    height: 27%;
    margin: auto;
    font-size: 18px;
    color: #333c43;
}
.learn_more_text{
    color: #4EA819;
    text-align: center;
}
.see_all_features_btn{
    width: 20%;
    height: 2.5%;
    background-color: #4eA819;
    margin: auto;
    color: #ffffff;
    text-align: center;
    font-size: 22px;
    border: 0.3px solid black;
    border: 3px;
}

 /* Third Party css */
#Third_party_box{
    width: 100%;
    height: 500px;
    font-family: 'Source Sans Pro', sans-serif;
}
.third_party_left_box{
    width: 40%;
    margin-left: 7%;
   margin-top: 5%;
    height: 85%;
    padding-left: 10%;
    float: left;
}
.third_party_rigth_box{
    width: 30%;
    height: 66%;
    float: left;
    margin-left: 4%;
    margin-top: 12%;
}
.simplify_text{
    font-size: 18px;
    margin-top: 13px;
    color: #475056;
}
.learn_more_btn{
    width: 200px;
    height: 50px;
    background-color: green;
    border-radius: 5px;
    text-align: center;
    color: white;
    font-size: 16px;
    margin-top: 10%;
    padding-top: 13px;
}
/* DeskTime country and user number css */
#desktime_number_box{
    width: 100%;
    height: 400px;
    background-color: #4ea819;
    font-family: 'Source Sans Pro', sans-serif;
    color: #ffffff;
}
.font_size_track_text{
    font-size: 18px;
}
.number_user_desk_time{
    width: 80%;
    height: 45%;
    margin-left: 15%;
    margin-top: 5%;
}
.font_number{
    font-size: 90px;
    margin-bottom: 10px;
}
.float_left{
    float: left;
    margin-right: 6%;
}
.user_text{
    margin-left: 30%;
    margin-right: 10%;
}
.companies_text{
    margin-left: 10%;
}

/* desktop and mobile app also avaliable detalis */
#desktop_mobile_box{
    width: 100%;
    height: 750px;
    box-shadow: 0 0 10px rgba(0,0, 0, 0.2);
    font-family: 'Source Sans Pro', sans-serif;
}
.monitor_text{
    width: 50%;
  margin: auto;
  font-size: 13px;
  text-align: center;
  color: #333c43;
    height: 2%;
    margin-top: 5%;  
}
.desktop_mobile_img{
    width: 60%;
    height: 80%;
    margin: 3% auto;
}
.desktop_box{
    width: 47%;
    float: left;
    height: 100%;
}
.mobile_box{
    width: 50%;
    height: 100%;
    float: left;
}
.img_desktop{
    width: 300px;
    height: 200px;
}
.desktime_desktop_text{
    width: 80%;
    font-size: 26px;
    margin-top: 4%;
    margin-bottom: 2%;
    text-align: center;
}
.img_desktop_icon{
    width: 80%;
    margin-left: 30%;
}
.icon_margin_rigth{
    margin-right: 3%;
}
.desktime_detalis_text{
    width: 86%;
    margin: 5% auto;
    color: grey; 
}
.desktop_learn_more_btn{
    margin-top: 4px;
    margin-left: 22%;
}

 /* flickty sliding window of CEO and Maneger details */
.carousel-cell {
     width: 30%;
     height: 350px;
      margin-right: 10px;
      margin-top: 20px;
      background: #ffffff;
      border: 1px solid grey;
      border-radius: 5px;
      padding: 20px;
      font-family: 'Source Sans Pro', sans-serif;
      counter-increment: carousel-cell;
}
.flickity_long_text{
     font-family: 'Source Sans Pro', sans-serif;
     font-size: 18px;
}
.carousel{
      width: 80%;
      height: 460px;
      margin-top: 30px;
      margin-left: 100px;
      color: #475056;
}
.Ceo_manager_detalis_box{
      width: 100%;
      margin-top: 40px;
      height: 550px;
      font-family: 'Source Sans Pro', sans-serif;
}
.margin_top_desktime_text{
      width: 45%;
      height: 4%;
      margin: auto;
      text-align: center;
}
.manager_img{
      margin-top: 20px;
      margin-left: 20px;
      width: 50px;
      height: 50px;
      border-radius: 50%;
      float: left;
}
.manager_img_square{
     margin-top: 20px;
      margin-left: 20px;
      width: 50px;
      height: 50px;
      float: left;
}
.name_manager_text{
      float: left;
      margin-top: 20px;
}
.user_text_app{
      padding-top: 40px;
      font-size: 36px;
      width: 68%;
      height: 10%;
      margin: auto;
      text-align: center;
}
#email2{
      width: 260px;
      height: 50px;
      background-color: #ffffff;
      border: 1px solid gray;
      font-size: 20px;
      margin-left: 30%;
      margin-top: 100px;
      float: left;
      margin-bottom: 20px;
}
.get_started_btn{
     width: 200px;
      height: 50px;
      background-color: #4ea819;
      border: 1px solid white;
      font-size: 20px;
      margin-left: 3%;
      color: #ffffff;
      margin-top: 100px;
     clear: left;
     margin-bottom: 20px;
}
#user_email_box{
     width: 100%;
     height: 300px;
     background-color: #4ea819;
      color: #ffffff;
}
.margin_top_text{
      margin-top: 20px;
}
.long_text_margin_bottom{
      margin-bottom: 10px;
}
.long_text_margin_bottom1{
     margin-bottom: 8px;
}
.bgboximg{
      width: 400px;
      height: 400px;
      margin: auto;
}
.bgbox2{
     border: 1px solid black;
     margin: 10px;
     height: 700px;
     width: 1200px;
    
}
.guestbox{
    border: 1px solid black;
    height: 400px;
    width: 1200px;
    margin: auto;
} 
 /* footer CSS */
 #footer {
    width: 980px;
    height: 580px;
    padding: 40px 20px;
    /* border: 1px solid #b7ccd8; */
    margin: auto;
}
.colFooter {
    float: left;
    width: 152px;
    height: 500px;
    padding: 0px 20px;
    /* border: 1px solid #b7ccd8; */
}
#footer > .colFooter > ul > li > a {
    color: #70777B;
    list-style: none;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 20px;
    width: 152px;
}
#footer > .colFooter > ul > li > a:hover {
    color: rgb(57, 109, 4);
    text-decoration: underline;
}
#footer > .colFooter > ul > li {
    color: #70777B;
    list-style: none;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 20px;
    width: 152px;
    height: 32px;
    font-weight: 300;
}
._64 {
    color: #70777B;
    list-style: none;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 20px;
    width: 152px;
    height: 64px;
    margin-bottom: 30px;
}
.bold {
    margin-top: 24px;
}
.bold1 {
    margin-top: 12px;
}
#feet {
    width: 1050px;
    height: 40px;
    /* border: 1px solid #70777B; */
    margin: auto;
}
#feet  img:hover {
    background-color: #04aff373;
    
}
.desktime {
    float: left;
    width: 340px;
    height: 40px;
    margin-right: 180px;
}
.svg {
    width: 200px;
    height: 40px;
    float: left;
    margin-right: 30px;
}
.svg img {
    width: 30px;
    height: 30px;
    margin-right: 20px;
    float: left;
}
.svg + div {
    width: 300px;
    height: 100%;
    /* margin-right: 20px; */
    float: left;
}
#drau {
    width: 100%;
    height: 32px;
    padding: 30px 0px;
    background-color: #eaeaec;
    text-decoration-color: #70777B;
    color: #70777B;
}
#drau div, #drau div > p  {
    padding: 0px 20px;
    float: left;
    margin: 0;
    margin-left: 92px;
}
#drau div + div{
    padding: 0px 20px;
    float: right;
    margin-right: 220px;
}
.action-box1{
    position: fixed;
    left: 80%;
    bottom: 40px;
    width: 206px;
    height: 68px;
    border-radius: 0% 50%; 
    background-color:#1b99f4;
    color: #ffffff;
    text-align: center;
    font-size: 16px;
    cursor: pointer;
}
.question_mark_img{
    width: 50px;
    margin-top: 3%;
    margin-left: 5%;
    height: 50px;
    float: left;
}
.need_any_text{
    margin-top: 10%;
}
@media screen and (max-width:1150px) {
    nav ul li{
        margin: 10px 5px;
    }
    .font_number{
        font-size: 70px;
    } 
    .float_left{
        margin-right: 4%;
    }
    .mobile_box{
        width: 45%;
        margin-left: 8%;
    }
    .desktime_desktop_text{
        font-size: 22px;
    }
    .flickity_long_text{
        font-size: 18px;
        margin-top: 5px;
    }
    .manager_img{
        margin-left: 10px;
    }
    .manager_img_square{
        margin-left: 10px;
    } 
}
@media screen  and (max-width:1100px){
      nav .menu-btn{
         display: block;
        }
       nav .logo {
          text-align: center;
        }
      nav ul{
          position: fixed;
          top: 80px;
          left: -100%;
          background-color: #ffF;
          height: 100vh;
          width: 90%;
          display: block;
          text-align: center;
      }
      #click:checked ~ ul{
       left: 0%;
      }
      nav ul li{
          margin: 40px 0;
      }
      .sign_up_btn{
        display: none;
      } 
      .img_assets{
        width: 128px;
      }
      .img_capture{
        width: 230px;
      }
      .img_rating{
        width: 230px;
      }
      .img_rating2{
        width: 230px;
      }
      .img_time_tracking{
        padding-left: 2%;
        width: 240px;
      }
      .auto_text{
        font-size: 20px;
      }
      .learn_more_text{
        margin-top: 10px;
      }
      .see_all_features_btn{
        width: 25%;
        padding-top: 1%;
      }
      .third_party_rigth_box{
        margin-left: 8%;
      }
      .font_number{
        font-size: 70px;
      }
      .float_left{
        margin-right: 4%;
      }
      .flickity_long_text{
        font-size: 18px;
      }
      #time_tracking_free_trail_box{
        width: 90%;
        height: 800px;  
     }
     .email_for_free_trail{
        width: 90%;
        height: 60%;
        padding-top: 100px;
        margin-left: 10%;
     }
     .img_tracking_detalis{
        width: 80%;
        height: 30%;
        margin: auto;
        margin-top: 0px;
        padding-top: 10px;
     }
     .automatic_text{
        width: 80%;
        margin: auto;
        height: 25%;
        font-size: 35px;
        text-align: center;
     }
     .mobile_app_tracking_text{
        width: 80%;
        text-align: center;
        margin: 0px auto;
        height: 20%;
        font-size: 20px;
      }
     .video_front_page{
        width: 70%;
        height: 100%;
        margin-left: 300px;
     }
     #detalis_featues{
        width: 100%;
        height: 600px;
      }
     .featur_box {
        width: 44%;
        height: 40%;
        float: left;
     }
     .featur_box2 {
        width: 44%;
        height: 40%;
     }
     .featur_box3{
        margin-top: 0px;
        padding-left: 8%;
        width: 49%;
        height: 40%;
     }
     #Top_features_box{
        height: 1000px;
     }
     .slide_left_box{
        float: none;
        height: 40%;
        margin-left: 20%;
     }
     .slide_rigth_box{
        float: none;
        margin-top: 7%;
        height: 40%;
        margin-left: 16%;
     }
     #team_box_detalis{
        height: 600px;
     }
     .img_assets{
        width: 220px;
        float: left;
     }
     .img_capture{
        margin-left: 7%;
        margin-right: 4.5%;
     }
     #monitoring_box{
        height: 3000px;
     }
     .text_monitor{
        width: 80%;
     }
     .features_box1{
        width: 40%;
        height: 20%;
     }
     .tracking_heading_text{
        height: 4%;
     }
     .see_all_features_btn{
        height: 1.5%;
        width: 30%;
        margin-top: 100px;
     }
     .third_party_left_box{
        margin-left: 4%;
        padding-left: 2%;
        width: 35%;
     }
     #desktime_number_box{
        height: 600px;
     }
     .font_number{
        font-size: 120px;
        padding-right: 70px;
        padding-left: 70px;
     }
     .user_text_1{
        margin-left: 30%;
     }
     .user_text_2{
       margin-left: 10%;
     }
     .k_386_number{
        padding-left: 80px;
     }
     #desktop_mobile_box{
        height: 820px;
     }
     .monitor_text{
        width: 50%;
        height: 3%;
        margin-top: 13%;  
     }
     .mobile_box{
        width: 45%;
     }
     .desktime_desktop_text{
        font-size: 26px;
        margin-top: 4%;
        margin-left: 10%;
     }
     .desktop_box{
        width: 43%;
     }
     .desktop_learn_more_btn{
        margin-left: 0px;
     }
     .margin_top_desktime_text{
        margin-top: 100px;
     }   
}
  
@media screen and (max-width:1250px){
    .number_user_desk_time{
        margin-left: 10%;
    }
    .font_number{
        font-size: 75px;
        margin-left: 4%;
    }
    .number_user_desk_time{
        width: 90%;
        margin-left: 10%;
    }
} 
